.about-section {
    margin: 10em 0;
}

.about-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.3em;
    margin: 5em 0;
}
.about-box .h-tag {
    font-size: 23px;
    flex-basis: 40%;
}
.about-box .p-tag {
    flex-basis: 55%;
}
.about-box .p-tag p {
    line-height: 150%;
    color: var( --primary-text);
    font-weight: 500;
}
@media only screen and (min-width:1100px) { 
    .about-box {
        flex-direction: row;
    }
}